<div class="containter body-content span=8 offset=2">
    <div class="well">
        <form class="form-inline" action="/" method="post">
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-1">
                        <input type="text" class="form-control" id="leftOperand" placeholder="Left Operand" name="calculator[leftOperand]" value="{{calculator.leftOperand}}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" name="calculator[operator]">
                            <option value="+"{{selectif calculator.operator '+'}}>+</option>
                            <option value="-"{{selectif calculator.operator '-'}}>-</option>
                            <option value="*"{{selectif calculator.operator '*'}}>*</option>
                            <option value="/"{{selectif calculator.operator '/'}}>/</option>
                            <option value="^"{{selectif calculator.operator '^'}}>^</option>
                            <option value="|"{{selectif calculator.operator '|'}}>|</option>
                            <option value="&"{{selectif calculator.operator '&'}}>&</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="rightOperand" placeholder="Right Operand" name="calculator[rightOperand]" value="{{calculator.rightOperand}}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="result" placeholder="Result" name="result" value="{{result}}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>